git+git://github.com/DisnakeDev/disnake@999887017c59d954beb40eb5fadd565412cc7dfa
pydrive2==1.10.0
psutil==5.8.0
beautifulsoup4==4.10.0
tweepy==4.4.0
pillow==8.4.0
uvloop==0.16.0; sys_platform == 'linux'